<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>De Dupe</title>
    <link rel="stylesheet" href="/static/css/dataUpload.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png" />

</head>

<body>

    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="#!"><b>De Dupe</b> Data Upload</a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#!">Services</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="/singleMode">Single Mode</a>
                            </li>
                            <li>
                                <a href="/multiMode">Batch Mode</a>
                            </li>                            
                        </ul>
                    </li>
                    <li>
                        <a href="/dataUpload">Upload Data</a>
                    </li>
                    <li>
                        <a href="/failure">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- partial:index.partial.html -->
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <div class="file-upload">
        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add
            CSV File</button>

        <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />  
            <div class="drag-text">
                <h3>Drag and drop a file or select add CSV</h3>
            </div>
        </div>
        <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="Your File" />
            <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                        class="image-title">Uploaded CSV/XLXS</span></button>
            </div>
        </div>
    </div>
    <!-- partial -->
    <script src="/static/js/dataUpload.js"></script>

</body>

</html>