<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>De Dupe</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>
    <link rel="stylesheet" href="/static/css/mode_style.css">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png" />

</head>

<body>
    <!-- partial:index.partial.html -->
    <a href="/#" class="logo" target="_blank">
        <img src="/static/images/logo/logo-2.svg" alt="">
        <!-- <img src="https://assets.codepen.io/1462889/fcb.png" alt=""> -->
    </a>

    <div class="section over-hide">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section text-center py-5 py-md-0">
                        <input class="pricing" type="checkbox" id="pricing" name="pricing" />
                        <label for="pricing"><span class="block-diff">Single<span
                                    class="float-right">Batch</span></span></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="pricing-wrap">
                                        <h4 class="mb-5">Single</h4>
                                        <!-- <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p> -->
                                        <p class="mb-4">For single User Input</p>
                                        <a href="/singleMode" class="link">Try it Out!</a>
                                        <div class="img-wrap img-2">
                                            <img src="https://assets.codepen.io/1462889/sea.png" alt="">
                                        </div>
                                        <!-- <div class="img-wrap img-1">
                                            <img src="/static/images/singleperson.png" alt="">
                                            <img src="https://assets.codepen.io/1462889/kayak.png" alt="">
                                        </div>
                                        <div class="img-wrap img-3">
                                            <img src="https://assets.codepen.io/1462889/water.png" alt="">
                                        </div>
                                        <div class="img-wrap img-6">
                                            <img src="https://assets.codepen.io/1462889/Stone.png" alt="">
                                        </div> -->
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="pricing-wrap">
                                        <h4 class="mb-5">Bulk Mode</h4>
                                        <!-- <p class="mb-1"><i class="uil uil-location-pin-alt size-22"></i></p> -->
                                        <p class="mb-4">For Batch CSV Upload</p>
                                        <a href="/multiMode" class="link">Try it Out!</a>
                                        <div class="img-wrap img-2">
                                            <img src="https://assets.codepen.io/1462889/grass.png" alt="">
                                        </div>
                                        <!-- <div class="img-wrap img-4">
                                            <img src="https://assets.codepen.io/1462889/camp.png" alt="">
                                        </div>
                                        <div class="img-wrap img-5">
                                            <img src="https://assets.codepen.io/1462889/Ivy.png" alt="">
                                        </div>
                                        <div class="img-wrap img-7">
                                            <img src="https://assets.codepen.io/1462889/IvyRock.png" alt="">
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->
    <script src="/static/js/mode_script.js"></script>

</body>

</html>