<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De Dupe</title>
    <link rel="stylesheet" href="/static/css/singleMode.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png" />

</head>

<body>

    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="#!"><b>De Dupe</b> Single User System</a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#!">Services</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="/singleMode">Single Mode</a>
                            </li>
                            <li>
                                <a href="/multiMode">Batch Mode</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/dataUpload">Upload Data</a>
                    </li>
                    <li>
                        <a href="/failure">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>


    <!-- partial:index.partial.html -->
    <article>
        <div class="container2">
            <div class="center3">
                <form id="submit_form">


                    <div class="range-slider">
                        <label>
                            <span style="display: inline-block; margin-right: 5%; font-size: x-large;">MRN Number</span>
                            <input type="text" name="MRN" id="MRN"
                                style="display: inline-block; margin-right: 5%; font-size: large;" />
                        </label>
                        <input class="range-slider__range" type="range" value="0" min="0" max="1" step="0.01"
                            name="MRNscale" id="MRNscale">
                        <span class="range-slider__value">0</span>
                    </div>

                    <br>

                    <div class="range-slider">
                        <label>
                            <span style="display: inline-block; margin-right: 5%; font-size: x-large;">First Name</span>
                            <input style="display: inline-block; margin-right: 5%; font-size: large;" type="text"
                                name="firstName" id="firstName" />
                        </label>
                        <input class="range-slider__range" type="range" value="0" min="0" max="1" step="0.01"
                            name="fNamescale" id="fNamescale">
                        <span class="range-slider__value">0</span>
                    </div>

                    <br>

                    <div class="range-slider">
                        <label>
                            <span style="display: inline-block; margin-right: 5%; font-size: x-large;">Last Name</span>
                            <input style="display: inline-block; margin-right: 5%; font-size: large;" type="text"
                                name="lastName" id="lastName" />
                        </label>
                        <input class="range-slider__range" type="range" value="0" min="0" max="1" step="0.01"
                            name="lNamescale" id="lNamescale">
                        <span class="range-slider__value">0</span>
                    </div>

                    <br>

                    <div class="range-slider">
                        <label>
                            <span style="display: inline-block; margin-right: 8%; font-size: x-large;">DOB</span>
                            <input style="display: inline-block; margin-right: 8%; font-size: large;" type="date"
                                name="DOB" id="DOB" />
                        </label>
                        <input class="range-slider__range" type="range" value="0" min="0" max="1" step="0.01"
                            name="DOBscale" id="DOBscale">
                        <span class="range-slider__value">0</span>
                    </div>

                    <br>


                    <div class="range-slider">
                        <label>
                            <span style="display: inline-block; margin-right: 5%; font-size: x-large;">State</span>
                            <input style="display: inline-block; margin-right: 5%; font-size: large;" type="text"
                                name="State" id="State" />
                        </label>
                        <input class="range-slider__range" type="range" value="0" min="0" max="1" step="0.01"
                            name="Statescale" id="Statescale">
                        <span class="range-slider__value">0</span>
                    </div>

                    <br>


                    <div class="range-slider">
                        <label>
                            <span style="display: inline-block; margin-right: 5%; font-size: x-large;">Pincode</span>
                            <input style="display: inline-block; margin-right: 5%; font-size: large;" type="text"
                                name="Pincode" id="Pincode" />
                        </label>
                        <input class="range-slider__range" type="range" value="0" min="0" max="1" step="0.01"
                            name="Pincodescale" id="Pincodescale">
                        <span class="range-slider__value">0</span>
                    </div>

                    <br>


                    <div class="range-slider">
                        <label>
                            <span style="display: inline-block; margin-right: 5%; font-size: x-large;">Phone </span>
                            <input style="display: inline-block; margin-right: 5%; font-size: large;" type="tel"
                                name="Phone" id="Phone" />
                        </label>
                        <input class="range-slider__range" type="range" value="0" min="0" max="1" step="0.01"
                            name="Phonescale" id="Phonescale">
                        <span class="range-slider__value">0</span>
                    </div>

                    <br>

                    <div class="range-slider">
                        <label>
                            <span style="display: inline-block; margin-right: 5%; font-size: x-large;">Years of
                                Exp</span>
                            <input style="display: inline-block; margin-right: 5%; font-size: large;" type="text"
                                name="YOE" id="YOE" />
                        </label>
                        <input class="range-slider__range" type="range" value="0" min="0" max="1" step="0.01"
                            name="YOEscale" id="YOEscale">
                        <span class="range-slider__value">0</span>
                    </div>

                    <br>

                    <div class="range-slider">
                        <label>
                            <span
                                style="display: inline-block; margin-right: 5%; font-size: x-large;">Specialization</span>
                            <input style="display: inline-block; margin-right: 5%; font-size: large;" type="text"
                                name="Specialization" id="Specialization" />
                        </label>
                        <input class="range-slider__range" type="range" value="0" min="0" max="1" step="0.01"
                            name="Specializationscale" id="Specializationscale">
                        <span class="range-slider__value">0</span>
                    </div>

                    <br>

                    <div class="range-slider">
                        <label>
                            <span style="display: inline-block; margin-right: 5%; font-size: x-large;">Education</span>
                            <input style="display: inline-block; margin-right: 5%; font-size: large;" type="text"
                                name="Education" id="Education" />
                        </label>
                        <input class="range-slider__range" type="range" value="0" min="0" max="1" step="0.01"
                            name="Educationscale" id="Educationscale">
                        <span class="range-slider__value">0</span>
                    </div>

                    <br>


                </form>

                <div class="container2">
                    <div class="center2">
                        <button type="button" class="main-btn" id="signup_form_button" value="submit_a">Check
                            Duplication</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/static/js/singleMode.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.redirect@1/jquery.redirect.min.js"></script>

    <script>
        // var a=1;
        $(function () {
            $("#signup_form_button").click(function () {
                $.ajax({
                    url: "/check_duplication",
                    type: "POST",
                    dataType: 'json',
                    data: $('#submit_form').serialize(),
                    success: function (response) {


                        console.log(response['check']);
                        if (response['check'] == 1) {
                            // $.redirect("/singleUserResult");

                            // {
                            //     user_name: "khan",
                            //     city: "Meerut",
                            //     country: "country"
                            // }

                            window.location.href = 'singleUserResult';
                        }
                        else {
                            alert("No Duplicate");
                        }
                        // console.log("Noice")
                        // $('#basic_modal').modal('show');
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });

            });
            // $("#verify_btn").click(function () {
            //     $.ajax({
            //         url: "/verify",
            //         type: "POST",
            //         dataType: 'json',
            //         data: $('#signup_form').serialize(),
            //         success: function (response) {
            //             console.log(response)
            //             $('.success').fadeIn(500);
            //             // console.log("Noice")
            //             // $('#basic_modal').modal('show');
            //         },
            //         error: function (error, response) {
            //             $('.error').fadeIn(500);
            //             console.log(response); console.log(error);
            //         }
            //     });

            // });
        });
    </script>
</body>

</html>